<main>
  <div class="container mx-auto my-6 flex justify-center items-center devise-card">
    <div>
      <h2 class="mb-10 text-3xl font-extrabold text-center">Change your password</h2>
  
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>
  
        <div class="mb-6">
          <% if @minimum_password_length %>
            <em class="mt-6 text-sm text-gray-900">(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-input w-full px-4 py-2.5 mt-2 text-black pl-6 leading-3 placeholder:text-sm', placeholder:'Nouveau password' %>
        </div>
  
        <div class="mb-6">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-input w-full px-4 py-2.5 mt-2 text-black pl-6 leading-3 placeholder:text-sm', placeholder:'Password confirmation' %>
        </div>
  
        <div data-turbo="false" class="text-center my-6">
          <%= f.submit "Change my password", class:'button-primary-black' %>
        </div>
      <% end %>
      <div class="mt-6 text-sm text-gray-900">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</main>
